{% extends 'base.html' %}
{% block content %}
<div class="card form-login">
  <div class="card-body">
    <h5 class="card-title">Cambiar Contraseña</h5>
    <form method="post">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.current_password.label(class="form-label") }}
        {{ form.current_password(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.new_password.label(class="form-label") }}
        {{ form.new_password(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.confirm.label(class="form-label") }}
        {{ form.confirm(class="form-control") }}
      </div>
      {{ form.submit(class="btn btn-primary w-100") }}
    </form>
  </div>
</div>
{% endblock %}
